# Sample Dataset Creation
Because the dataset is too large to be uploaded in github, I created a sample dataset.

In [1]:
import pandas as pd

In [2]:
for dataset in ['full/articles.csv', 'full/customers.csv', 'full/transactions_train.csv']:
    df = pd.read_csv(dataset)
    df.head(round(0.01 * len(df))).to_csv(f'sample/{dataset.split("/")[1].split(".")[0]}.csv', index=False)

make sure that the sample dataset could be joined (any relation)

In [3]:
articles_sample = pd.read_csv('sample/articles.csv')
transactions_sample = pd.read_csv('sample/transactions_train.csv')
customers_sample = pd.read_csv('sample/customers.csv')

In [4]:
# left join transactions_sample on articles_sample
joined_df = transactions_sample.merge(articles_sample, on='article_id', how='left').merge(customers_sample, on='customer_id', how='left')
joined_df.head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,section_name,garment_group_no,garment_group_name,detail_desc,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...

In [37]:
len(joined_df)

3178832